.section-content {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eae0d8;
}

.div-main {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 34%;
  padding: 20px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eae0d8;
  font-size: 0.9em;
}

.div-right {
  position: fixed;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 66%;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/osho_machine.jpg');
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: scroll;
}

.div-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  width: 70px;
}

.heading-1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  line-height: 1.2em;
  font-weight: 500;
  text-align: center;
}

.body {
  background-color: #eae0d8;
  font-family: Lora, sans-serif;
  color: #111;
  font-size: 0.9em;
  line-height: 1.2em;
  font-weight: 500;
}

.div-heading {
  display: block;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 700;
}

.div-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
}

.div-content.horizontal {
  margin-top: 15px;
  margin-bottom: -5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-content.horizontal.social {
  display: block;
}

.paragraph {
  max-width: 350px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.button {
  padding: 5px;
  border-right-width: 1px;
  border-right-color: #000;
  background-color: transparent;
  color: rgba(17, 17, 17, 0.5);
  font-size: 0.9em;
  font-weight: 700;
}

.button:hover {
  color: #111;
}

.div-line {
  height: 15px;
  border-right: 1px solid #000;
}

.wrap-content.english {
  display: none;
}

.icon {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 3px;
  margin-left: 3px;
  background-color: transparent;
}

.img {
  width: 50px;
}

.div-figure {
  margin: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: inline-flex;
  width: 600px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.logo-404 {
  width: 40%;
}

.button-404 {
  margin-top: 10px;
  padding: 15px 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  color: #111;
  font-weight: 700;
}

.button-404:hover {
  background-color: #111;
  color: #eae0d8;
}

.heading-404 {
  font-size: 2.4em;
  line-height: 1.2em;
}

@media screen and (max-width: 991px) {
  .div-main {
    width: 50%;
  }
  .div-right {
    position: fixed;
    width: 50%;
    background-image: url('../images/machine.jpg');
    background-size: cover;
    background-repeat: repeat-y;
  }
  .div-figure {
    width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .div-main {
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .div-right {
    display: none;
  }
  .logo {
    width: 80px;
  }
  .body {
    font-size: 1em;
  }
}

@media screen and (max-width: 479px) {
  .section-content {
    position: static;
  }
  .div-main {
    position: relative;
    width: 100%;
  }
  .div-right {
    display: none;
  }
  .body {
    font-size: 1em;
  }
  .heading-404 {
    font-size: 1.6em;
  }
}

.covid-content {
  background-color: #000000c9;
  color: whitesmoke;
  text-align: center;
  margin: 5rem;
  padding: 3rem;
}
